$blanco: rgb(255, 255, 255);
$negro: rgb(12, 12, 12);
$gris: rgb(71, 71, 71);
$neuquen: #e29578;
$rioNegro: #f8c0ae;
$cordoba: #a7daeb;
$jujuy: #83c5be;
$sanLuis: #006d77;
$misiones: #dfce6f;
$entreRios: #fcbf49;
$santaCruz: #d62828;
$tierraDelFuego: #3cafa0;
$chubut: #0f92d8;
$mendoza: #368eac;
$sanJuan: #118ab2;
$laRioja: #06d6a0;
$tucuman: #ffd166;
$corrientes: #ef476f;
$santaFe: #81b29a;
$santiagoDelEstero: #e07a5f;
$buenosAires: #e04d25;
